.body{
    background-color: mintcream;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

@media(max-width:770px){
    .container{
        margin: 0 10%;
    }
    .image{
        width: 100%;
    }
}